<body style="font-family: Arial, Helvetica, sans-serif; border: 10px solid rgb(71, 71, 71); margin: 0;">
	<header style="background-color: rgb(109, 109, 109); display: flex; justify-content: space-between; align-items: center;">
		<h1 style="margin-left: 15px;">Traças de Alexandria</h1>
		<picture style="margin: 15px; background-color: rgb(86, 86, 86); border-radius: 100%; padding: 25px;">
			<img style="height: 80px;" src="https://res.cloudinary.com/dnxhcbb0u/image/upload/v1683307565/emails/book-stack_a5yipz.png"/>
		</picture>
	</header>
	<main style="margin: 15px;">
		<h2>Atraso na entrega do $book</h2>
		<p>Caro estudante, $username, </p>
		<p>Esperamos que este email encontre-o(a) bem. Escrevemos esta mensagem para informar que o livro $book que você retirou da nossa biblioteca em $loan_date está com a data de devolução atrasada.</p>
		<p>Gostaríamos de lembrá-lo(a) que a política da nossa instituição determina que todos os materiais devem ser devolvidos na data acordada no momento do empréstimo, o que permite que outros discentes também possam desfrutar do nosso acervo. O atraso na devolução de um livro pode causar inconvenientes para outros estudantes que desejam consultá-lo.</p>
		<p>Pedimos, portanto, que devolva a obra o mais rápido possível, lembrando que a sua multa por ainda não ter entregado o livro até hoje é de <strong>$penalty</strong>. Com o objetivo de evitar maiores transtornos, o seu cadastro encontra-se bloqueado para realizar novos empréstimos até o pagamento dos débidos pendentes.</p>
		<p>Agradecemos a sua compreensão e cooperação em relação a este assunto.</p>
		<section style="margin-bottom: 20px; display: flex; justify-content: center; margin-bottom: 30px;">
			<div style="display: flex; font-size: 10px; align-items: center; justify-content: center; gap: 12px; border: 5px solid grey; width: auto; padding: 5px; border-radius: 8px;">
				<img style="width: 50px; height: 90px; object-fit: contain;" src="$image"/>
				<div style="padding: 0; margin: 0; line-height: 12px;">
					<p><b>$book</b></p>
					<p><i>$author</i></p>
					<p>$year</p>
				</div>
			</div>
		</section>
		<small style="text-align: right; display: block;">Atenciosamente, Traças de Alexandria</small>
	</main>
</body>